# Abaikan file konfigurasi sensitif
.env
public/.htaccess
app/Config/App.php

# Abaikan folder sementara dan sistem CI
writable/*
!writable/index.html

# Abaikan cache dan logs
writable/cache/*
writable/logs/*

# Abaikan vendor jika kamu tidak ingin upload dependensi
/vendor/

# Abaikan file sistem lokal
.idea/
.vscode/
*.log
*.bak
*.tmp
.DS_Store
Thumbs.db
